<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/_form :: dynamic(
				~{::main},
				~{::#aside},
				~{::#material},
				~{::#breadcums}
				)}">
<head>
<meta charset="UTF-8">
<title>Login</title>

</head>
<body>
	<th:block id="breadcums">
		<ul class="breadcrumb">
			<li><a th:href="@{/index}">Trang chủ</a></li>
			<li><a th:href="@{/shop/cart}">Giỏ hàng</a></li>
			<li><a th:href="@{/shop/cart/checkout}">Thanh toán</a></li>
			<li><a th:href="@{/shop/cart/checkout/success}">Thành công</a></li>
		</ul>
	</th:block>
	<th:block id="aside">
		<div th:replace="/user/layout/_aside.html"></div>
	</th:block>

	<main>
		<div id="content" class="col-sm-9">
			<h1>Đơn hàng của bạn đã được đặt!</h1>
			<p>Đơn hàng của bạn đã được xử lý thành công!</p>
			<p>
				Bạn có thể xem lịch sử đặt hàng bằng cách vào trang <a
					style="color: #ffc843;" th:href="@{/account}">tài khoản</a> và nhấp
				vào <a style="color: #ffc843;" th:href="@{/history}">lịch sử</a>.
			</p>
			<p>Nếu có câu hỏi gì. Vui lòng liên hệ <a
					style="color: #ffc843;" th:href="@{/contact}">chúng tôi</a> để nhận được sự tư vấn.</p>
			<p>Trân trọng cảm ơn!</p>
			<div class="buttons">
				<div class="pull-right">
					<a th:href="@{/index}" class="btn btn-primary">Tiếp tục</a>
				</div>
			</div>
		</div>
	</main>
</body>
<th:block id="material">
	<script src="/assets/user/angular/register.js"></script>
</th:block>
</html>