<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/_form :: dynamic(
				~{::main},
				~{::#javascriptResource},
				~{::#cssResource}
				)}">
<th:block id="cssResource">
	<!-- Plugins For This Page -->
	<link rel="stylesheet"
		href="/assets/admin/global/vendor/summernote/summernote.min599c.css?v4.0.2">
</th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="page">
			<div class="page-header">
				<h1 class="page-title">Tạo Thông Số</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="../index.html">Trang
							chủ</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">Tiện
							ích</a></li>
					<li class="breadcrumb-item active">Thông số</li>
				</ol>
			</div>

			<div class="page-content container-fluid">
				<div class="row">
					<div class="col-12">
						<!-- Panel Standard Editor -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Standard Editor</h3>
							</div>
							<div class="panel-body">
								<div id="summernote" data-plugin="summernote">
									<table class="table table-bordered">
										<thead>
											<tr>
												<td colspan="2"><strong>Thông số chi tiết</strong></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Tên nhà cung cấp:</td>
												<td>Nhà xuất bản Kim Đồng</td>
											</tr>
											<tr>
												<td>Tác giả:</td>
												<td>Koyoharu Goutage</td>
											</tr>
											<tr>
												<td>NXB</td>
												<td>Kim Đồng</td>
											</tr>
											<tr>
												<td>Năm XB:</td>
												<td>2021</td>
											</tr>
											<tr>
												<td>Trọng lượng:</td>
												<td>250</td>
											</tr>
											<tr>
												<td>Kích thước bao bì:</td>
												<td>19 x 13 cm</td>
											</tr>
											<tr>
												<td>Số trang:</td>
												<td>204</td>
											</tr>
											<tr>
												<td>Hình thức:</td>
												<td>Bìa mềm</td>
											</tr>
											<tr>
												<td>Độ tuổi:</td>
												<td>16+</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- End Panel Standard Editor -->

					</div>
				</div>
			</div>
		</div>
		<!-- End Page -->
	</main>
</body>
<th:block id="javascriptResource">
	<!-- Plugins For This Page -->
	<script
		src="/assets/admin/global/vendor/summernote/summernote.min599c.js?v4.0.2"></script>

	<script
		src="/assets/admin/global/js/Plugin/summernote.min599c.js?v4.0.2"></script>
	<script
		src="/assets/admin/base/assets/examples/js/forms/editor-summernote.min599c.js?v4.0.2"></script>
</th:block>
</html>