<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/_form :: dynamic(
				~{::main},
				~{::#aside},
				~{::#material},
				~{::#breadcums}
				)}">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<th:block id="breadcums">
		<ul class="breadcrumb">
			<li><a th:href="@{/index}">Trang chủ</a></li>
			<li><a th:href="@{/account}">Tài khoản</a></li>
			<li><a th:href="@{/account/change-password}">Đổi mật khẩu</a></li>
		</ul>
	</th:block>
	<th:block id="aside">
		<div th:replace="/user/account/account_aside"></div>
	</th:block>

	<main>
		<div id="content" class="col-sm-9" ng-app="change-pass-app"
			ng-controller="change-pass-ctrl">
			<form class="form-horizontal">
				<fieldset>
					<legend>Đổi mật khẩu đăng nhập</legend>
					<div class="form-group required" id="divOldPass">
						<label id="lblOldPass" class="col-sm-2 control-label">Mật khẩu cũ </label>
						<div class="col-sm-10">
							<input type="password" id="oldPass" placeholder="Vui lòng nhập mật khẩu cũ"
								class="form-control" />
							<div id="errorOldPass" style="color: #dc3545;"></div>
						</div>
					</div>				
					<div class="form-group required">
						<label id="lblNewPass" class="col-sm-2 control-label">Mật khẩu mới </label>
						<div class="col-sm-10">
							<input type="password" id="newPass" ng-model="form.newPass" placeholder="Vui lòng nhập mật khẩu mới" class="form-control" />
							<div id="errorNewPass" style="color: #dc3545;"></div>
						</div>
					</div>
					<div class="form-group required">
						<label id="lblConfirmPass" class="col-sm-2 control-label">Xác nhận mật khẩu </label>
						<div class="col-sm-10">
							<input type="password" id="confirmPass" placeholder="Vui lòng xác nhận mật khẩu" class="form-control" />
							<div id="errorConfirmPass" style="color: #dc3545;"></div>
						</div>
					</div>
				</fieldset>
				<div class="buttons clearfix">
					<div class="pull-left">
						<a th:href="@{/account}" class="btn btn-default">Trở lại</a>
					</div>
					<div class="pull-right">
						<input type="button" ng-click="update()" value="Tiếp tục" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>
	</main>

</body>
<th:block id="material">
	<script src="/assets/user/angular/change-pass-app.js"></script>
</th:block>
</html>