<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/_form :: dynamic(
				~{::main},
				~{::#javascriptResource},
				~{::#cssResource}
				)}">
<th:block id="cssResource">

	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script
		src="/assets/admin/global/vendor/datatables.net/jquery.dataTables599c.js?v4.0.2"></script>
	<script
		src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap4.min.js"></script>
	<script src="/assets/admin/angular/angular-datatables.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
	
	<!-- Page -->
	<link rel="stylesheet"
		href="/assets/admin/base/assets/examples/css/dashboard/ecommerce.min599c.css?v4.0.2">

</th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main ng-app="statistical-revenue-app"
		ng-controller="statistical-revenue-ctrl">
		<div class="page">
			<div class="page-header">
				<h1 class="page-title">Thống Kê Doanh Thu</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/admin/index}">Trang
							chủ</a></li>
					<li class="breadcrumb-item"><a
						th:href="@{/admin/statistical/revenue}">Thống kê</a></li>
					<li class="breadcrumb-item active">Doanh thu</li>
				</ol>
			</div>

			<div class="page-content container-fluid">
				<!-- <div class="panel">
					<div class="panel-body">this is text</div>
				</div> -->


				<div class="row">
					<!-- second Row -->
					<div class="col-12" id="ecommerceChartView">
						<div class="card card-shadow">
							<div class="card-header card-header-transparent py-20">
								<div class="btn-group dropdown">
									<a id="chartBar" href="#" class="text-body dropdown-toggle blue-grey-700"
										data-toggle="dropdown">BIỂU ĐỒ CỘT</a>
									<div class="dropdown-menu animate" role="menu">
										<a id="chartLine" class="dropdown-item" onclick="changeChart()" href="#" role="menuitem">BIỂU ĐỒ ĐƯỜNG</a>
									</div>
								</div>
								<ul class="nav nav-pills nav-pills-rounded chart-action">
									<li class="nav-item"><a class="active nav-link"
										data-toggle="tab" ng-click="statisticalByDay()" href="#scoreLineToDay">Ngày</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										ng-click="statisticalByMonth()" href="#">Tháng</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										ng-click="statisticalByYear()" href="#scoreLineToMonth">Năm</a></li>
								</ul>
							</div>
							
							<div class="widget-content tab-content bg-white p-20">
								<canvas id="bar-chart-grouped-day" width="800" height="450"></canvas>
								<canvas id="bar-chart-grouped-month" width="800" height="450"></canvas>
								<canvas id="bar-chart-grouped-year" width="800" height="450"></canvas>
							</div>
						</div>
					</div>
					<!-- End Second Row -->
									
				</div>

			</div>
		</div>
	</main>
</body>
<th:block id="javascriptResource">
	<script
		src="/assets/admin/base/assets/examples/js/tables/datatable.min599c.js?v4.0.2"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script
		src="/assets/admin/angular/statisticalRevenue/statistical-revenue-ctrl.js"></script>
</th:block>
</html>