<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="account-content">
			<div class="box-content">
				<div class="list-group">
					<h3 class="toggled">Account</h3>
					<ul class="list-unstyled">
						<li><a href="" class="list-group-item">Login</a></li>
						<li><a href="" class="list-group-item">Register</a></li>
						<li><a href="" class="list-group-item">Forgotten Password</a></li>
						<li><a href="" class="list-group-item">My Account</a></li>
						<li><a href="" class="list-group-item">Address Book</a></li>
						<li><a href="" class="list-group-item">Wish List</a></li>
						<li><a href="" class="list-group-item">Order History</a></li>
						<li><a href="" class="list-group-item">Downloads</a></li>
						<li><a href="" class="list-group-item">Recurring payments</a></li>
						<li><a href="" class="list-group-item">Reward Points</a></li>
						<li><a href="" class="list-group-item">Returns</a></li>
						<li><a href="" class="list-group-item">Transactions</a></li>
						<li><a href="" class="list-group-item">Newsletter</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="sidebar">
			<div class="box-content">
				<h3 class="box-content toggled">Information</h3>
				<ul class="list-unstyled">
					<li><a href="">About Us</a></li>
					<li><a href="">Delivery Information</a></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Terms &amp; Conditions</a></li>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Site Map</a></li>
				</ul>
			</div>
		</div>
</body>
</html>