<div class="box all-products featured">
	<div class="box-heading">
		<div class="box-content">
			<div class="page-title toggled">
				<h3>Sản Phẩm Nổi Bật</h3>
			</div>
			<div class="block_box row">

				<div id="featured-carousel"
					class="box-product  product-carousel  clearfix" data-items="4">
					<th:block th:each="item: ${viewsProduct}">
						<div class="product-layout  col-xs-12">
							<div class="product-thumb transition clearfix">
								<div class="image">
									<a th:href="@{|/san-pham/${item.product.Namesearch}|}"> <img
										th:src="@{|/assets/images/imageProduct/${item.product.image1}|}"
										th:title="${item.product.name}" class="img-responsive" /> <img
										class="img-responsive hover-img"
										th:src="@{|/assets/images/imageProduct/${item.product.image2}|}"
										th:title="${item.product.name}" alt="IPad" />
									</a>
									<th:block th:if="${item.product.sales != 0}">
										<div class="ribbon ribbon-top-right">
											<span>On Sale!</span>
										</div>
									</th:block>
								</div>
								<div class="thumb-description clearfix">
									<div class="caption">
										<h4 class="product-title">
											<a th:href="@{|/san-pham/${item.product.Namesearch}|}">[[${item.product.name}]]</a>
										</h4>
										<p class="price">
											<th:block th:if="${item.product.sales != 0}">
												<span class="price-old">[[${#numbers.formatInteger(item.product.sales,3,'POINT')}]]₫</span>
												<br>
											</th:block>
											[[${#numbers.formatInteger(item.product.price,3,'POINT')}]]₫
										</p>
										<div class="rating">
											<th:block th:if="${item.totalStar != 0}">
												<th:block
													th:each="i: ${#numbers.sequence(1, item.totalStar)}">
													<span class="fa fa-stack"><i
														class="fa fa-star fa-stack-1x"></i><i
														class="fa fa-star-o fa-stack-1x"></i></span>
												</th:block>
											</th:block>
											<th:block th:if="${item.totalStar != 5}">
												<th:block
													th:each="i: ${#numbers.sequence(1, 5 - item.totalStar)}">
													<span class="fa fa-stack"><i
														class="fa fa-star-o fa-stack-1x"></i></span>
												</th:block>
											</th:block>
										</div>
										<button type="button" class="addcart" title="Add to Cart"
											th:onclick="location.href = '/san-pham/[(${item.product.Namesearch})]'">Mua
											ngay</button>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>
</div>