<div class="service-box">
	<div class="page-title toggled">
		<h3>Dịch vụ của chúng tôi</h3>
	</div>
	<div class="service-desc block-content clearfix">
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/plane.png" alt="">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Miễn phí giao hàng</h4>
					<span class="promo-desc">Cho đơn hàng trên 500K</span>
				</div>
			</div>
		</div>
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/refund.png" alt="">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Đảm Bảo Lại Tiền</h4>
					<span class="promo-desc">Thanh toán khi giao hàng</span>
				</div>
			</div>
		</div>
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/gift-box.png" alt="">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Quà Đặc Biệt</h4>
					<span class="promo-desc">Có nhiều chương trình khuyến mại</span>
				</div>
			</div>
		</div>
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/support.png" alt="">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Tư Vấn Chuyên Nghiệp</h4>
					<span class="promo-desc">Hỗ trợ 24/7</span>
				</div>
			</div>
		</div>
	</div>
</div>