<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/_form :: dynamic(
				~{::main},
				~{::#aside},
				~{::#material},
				~{::#breadcums}
				)}">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>

</head>
<body>
	<th:block id="breadcums">
		<ul class="breadcrumb">
			<li><a th:href="@{/index}">Trang chủ</a></li>
			<li><a th:href="@{/register}">Quên mật khẩu</a></li>
		</ul>
	</th:block>
	<th:block id="aside">
		<div th:replace="/user/account/account_aside.html"></div>
	</th:block>

	<main>
		<div id="content" class="col-sm-9">
			<h1>Xác Nhận Email</h1>
			<p>Lấy link làm mới tài khoản thông qua email đã đăng ký.</p>
			<form th:action="@{/forget-password}" th:object="${userForm}"
				method="post" class="form-horizontal">
				<fieldset id="account">
					<legend>Email Đã Đăng Ký</legend>
					<div class="form-group required" style="display: none;">
						<label class="col-sm-2 control-label">Customer Group</label>
						<div class="col-sm-10">
							<div class="radio">
								<label> <input type="radio" name="customer_group_id"
									value="1" checked="checked" /> Default
								</label>
							</div>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Nhập E-Mail</label>
						<div class="col-sm-10">
							<input th:field="*{email}" class="form-control">
							<div class="text-danger"
								th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></div>
						</div>
					</div>
				</fieldset>

				<div class="buttons clearfix">
					<div class="pull-right">
						<input type="submit" value="Tiếp tục" class="btn btn-primary">
					</div>
				</div>
			</form>
		</div>
	</main>
</body>
<th:block id="material">
	<script src="/assets/user/angular/register.js"></script>
</th:block>
</html>